
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section1{
    width: 100%;
   height: auto;
    // background: linear-gradient(90deg, #cc6fc9, #6c56cc);
    background-color: #4c35de;
    padding: 20px 30px;

}
.section2{
   
    width: 100%;
    margin: auto;
  height: auto;
   background-color: #f9fafb;
    padding: 20px 20px 10px;
   
    .choose-div{
        width: 100%;
        max-width: 1414px;
        margin: auto;
        box-shadow: rgba(98, 109, 230, 0.2) 2px 2px 2px 2px,  rgba(0, 64, 255, 0.2) 0px 0px 0px 2px;


        border-radius: 4px;
       


      
     h2{
       
        text-align: center;
        color: rgb(8, 14, 55);
        // font-family: "Roboto Mono", monospace;
        font-family: "Bricolage Grotesque", sans-serif;
        font-weight: 700;
        font-size: 25px;
        
        letter-spacing: 1px;
        padding-bottom: 8px;
       

     }


     
     .inner-div{
      padding: 20px;
        width: 100%;
         
        margin: auto;
        display: grid;
    grid-template-columns: 1fr; /* By default, display one column */

    @media (min-width: 1000px) {
        grid-template-columns: repeat(2, 1fr); /* When the screen width is at least 1000px, display two columns */
      
    }




        .img{
         
         max-width: 100%;
         height: 100%;
        display: flex;
        flex-wrap: wrap;
         margin: auto;
        
        img{
            box-shadow: rgba(98, 109, 230, 0.2) 2px 2px 2px 2px,  rgba(0, 64, 255, 0.2) 0px 0px 0px 2px;
        border-radius: 4px;
          
         max-width: 420px;
         width: 100%;
        height: 100%;
           margin: auto;
        }
    }
    .main-why-div{
     
        width: 98%;
     
        margin: auto;
        display: flex;
        justify-content: center;
       padding: 20px;
       padding-bottom: 0px;
       
       p{
        height: 100%;
      
        color: #2e2e2e;
        font-weight: 540;
        font-size: 16px;
        font-family: "Inter Tight", sans-serif;
        margin-bottom: 7px;
        line-height: 25px;
        letter-spacing: 1px;
       }
  
    }
     }
  
    
    }
}
@media (min-width: 760px) {
    .section2{
        padding: 25px 40px 20px;
   
       .choose-div{
           .inner-div{
               .main-why-div{
                   display: flex;
                   justify-content: center;
                  
                   p{
                       font-size: 19px;
                       line-height: 30px;
                      margin-top: 20px;
                   }
               }
           }
       }
    }
     
   }
@media (min-width: 1000px) {
 .section2{
    padding: 25px 60px 20px;
   
    .choose-div{
        .inner-div{
            .img{
                padding: 10px;
                
            }
            .main-why-div{
                display: flex;
                justify-content: center;
            
                
                p{
                   color: #474545;
                    font-size: 22px;
                    line-height: 30px;
                   margin-top: 10px;
                }
            }
        }
    }
 }
  
}