

@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ruslan+Display&family=Yatra+One&display=swap');
.header-div{
    width: 100%;
    height: 50px;
    
    display: flex;
    justify-content: space-between;
   
   align-items: center;
    img{
        width: 40px;
    }
    
    p{
        font-family: "Bricolage Grotesque", sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: #ffffff;
        
    }
}