.main-fdiv{
    margin: auto;
    max-width: 1600px;
    width: 100%;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px 0px 20px;
    .inf{
       display: flex;
       align-items: center;
       
    
    img{
        width: 37px;
        margin-right: 20px;
        justify-content: center;
    }
    span{
        
        font-family: "Bricolage Grotesque", sans-serif;
        font-size: 24px;
        font-weight: 600;
        color: #000000;

    }
}}
.f2{
    margin: auto;
    max-width: 1600px;
    width: 100%;
    padding: 20px;
   
    p{
        padding: 10px;
        box-shadow: rgba(98, 109, 230, 0.2) 2px 2px 2px 2px,  rgba(0, 64, 255, 0.2) 0px 0px 0px 2px;
        font-size: 15px;
        font-family: "Inter Tight", sans-serif;
        color: rgb(12, 17, 49);
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 5px;
    }
   
} 
.f3{
        
    margin: auto;
    max-width: 1600px;
    width: 100%;
    
   padding-top: 10px;
    background-color: #4c35de;
    display: flex;
    justify-content: space-around;
    align-items: center;

    
    .logo{
      color: white;
      font-size: 28px;
    }
 }

 @media only screen and (min-width: 760px) {
    .main-fdiv{
       
        padding: 20px 40px 0px 56px;
    }
    .f2{
        padding: 20px 40px 20px 60px;
    }
  }
  

  @media only screen and (min-width: 1000px) {
    .main-fdiv{
       
        padding: 20px 40px 0px 65px;
    }
    .f2{
        padding: 20px 40px 20px 60px;
        p{
            font-size: 20px;
        }
    }
    }