@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ruslan+Display&family=Yatra+One&display=swap');

.hero-div{
    width: 100%;
    height: auto;
    
    display: flex;
    flex-direction: column;
    margin-top: 40px;
   gap: 20px;
    .hero-img {
        max-width: 90%;
        margin: auto;
        
        overflow: hidden;
        position: relative;
        opacity: 0;
        animation: fadeInUp 1s ease forwards;
        img{
            width: 100%;
            object-fit: contain;
        }
    }

    @keyframes fadeInUp {
        0% {
            transform: translateY(30%);
            opacity: 0;
        }
        100% {
            transform: translateY(0%);
            opacity: 1;
        }
    }
    .slogan{
        opacity: 0;
        animation: fadeInUp2 1.9s ease forwards;
        width: 85%;
        margin: auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        h2{
            letter-spacing: 1px;
            line-height: 35px;
            text-align: center;
            font-family: "Bricolage Grotesque", sans-serif;
            font-size: 25px;
            font-weight: 600;
            color: white;
        }
        p{
            font-size: 12px;
            margin-top: 10px;
            font-family: "Roboto Mono", monospace;
            color: #afadad;
            text-align: center;
        }
    }

@keyframes fadeInUp2 {
    0% {
        transform: translateY(70%);
        opacity: 0;
    }
   
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}
.btn1 {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; // Ensure the parent has a defined position

    button {
        margin: 10px;
        padding: 10px 30px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.4s;
        background-size: 200% auto;
        color: rgb(255, 255, 255);
        border-radius: 5px;
        display: block;
        border: 0px;
        font-family: sans-serif;
        background-image: linear-gradient(75deg, #aa31a6 0%, 51%, #0e3bef 100%);
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        opacity: 0; // Initially hide the button
        animation: fadeIn 7s ease forwards, moveUpDown 2s infinite; // Add moveUpDown animation
        font-size: 13px;
        font-weight: 300;
        &:hover {
            background-position: right center;
            color: #fff;
            text-decoration: none;
        }

        &:active {
            transform: scale(0.95);
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes moveUpDown {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
    }
}
.why{
    width: 100%;
    height: auto;
    background-color: #ffffff;
}
}